*{
  margin: 0;
  padding: 0;
}


:root{
  --fondonavbar:hsl(35, 80%, 55%);
  --fondo:hsl(35, 80%, 60%);
  --fondoclicado:hsl(35, 84%, 40%);
  --fondooscuroclicado:hsl(220, 70%, 30%);
  --fondooscuro:hsl(220, 50%, 20%);
  --fondonavbaroscuro:hsl(220, 50%, 40%);
}

#contenedor{
  height: 10vh;
  display: flex;
  background-color: var(--fondo);
  justify-content: space-evenly;
  align-items: center;
}

#stories{
  display: flex;
  flex-direction: column;
}

#anteriorsiguiente{
  display: flex;
  justify-content: space-evenly;
}

.botones{
  height: 5vh;
  width: 25%;
  border: none;
  border-radius: 4pc;
  background-color: var(--fondonavbar);
}

.activado {
  background-color: var(--fondoclicado);
}

.story{

  background-color: aqua;
}